/* Base styles for all screens */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

nav {
    background-color: whitesmoke;
    color: #54064f;
    /* padding: 10px 0; */
    box-shadow: 2px 2px 2px #430251;
}

.main-nav {
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav img {
    max-width: 85px;
    height: auto;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items {
    margin-right: 20px;
    cursor: pointer;
}

/* Adjust navigation styles for smaller screens */
@media (max-width: 768px) {
    .nav-items {
        margin-right: 10px;
    }
}

nav ul li:hover {
    transition: all 0.4s ease;
    color: #ffffff;
    background: #430251;
    border: 5px solid #430251;
    border-radius: 10px;
    font-size: 1rem;
}

.search-bar {
    display: flex;
}

.news-input {
    padding: 5px;
    border: 2px solid #8806a5;
    border-radius: 4px;
    margin-right: 10px;
}

.search-btn {
    background-color: #8806a5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
    padding: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding-block: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    flex: 0 1 calc(33.33% - 20px);
    border: 1px solid #430251;
    box-shadow: 0 0 4px #430251;
    background: rgb(255, 221, 255);
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

/* Adjust card styles for smaller screens */
@media (max-width: 768px) {
    .card {
        flex: 0 1 calc(50% - 20px);
    }
}

.card:hover {
    box-shadow: 1px 1px 8px #430251;
    background: #ebb4fa;
    transform: translateY(-2px);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 12px;
}

#news-title {
    font-size: 1.3rem;
    color: #430251;
}

.source {
    margin-top: 12px;
}

.nav-items.active {
    background-color: #8806a5;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px 10px;
}

button.search-btn:active {
    background: #430251;
    color: #ffffff;
    transition: all 0.3s ease-in;
}

.footer-main {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.ftr-img {
    max-width: 150px;
    height: auto;
}

.main-nav a {
    color: #430251;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px;
    transition: all 0.3s ease-in;
    background: linear-gradient(
        to right,
        #8b04a9 20%,
        #430251 30%,
        #83057a 70%,
        #af3dc9 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate;
}

footer {
    background-color: whitesmoke;
    box-shadow: 0px -2px 15px #54064f;
}

.ftr-link {

    margin-left: 10px;
    font-size: 6rem;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 700;
    background: linear-gradient(
        to right,
        #8b04a9 20%,
        #b51fd7 30%,
        #83057a 70%,
        #5a036e 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

