.second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .second-left {
    flex: 1;
    /* padding: 20px; Adjust padding as needed */
    /* display: flex;
} */ */

/* .second-right {
    flex: 1;
    margin-left: 40; Adjust padding as needed
    text-align: right; /* Align content to the right */
/* } */ */

/* Add other styles for .timeline, .outer, .card, .info, .title, etc. as needed */

.second-right img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
}