/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* Style for the entire page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edf1f4;
}

/* Style for the calculator container */
.calculator {
    position: relative;
    display: grid;
}

/* Style for the result display */
.calculator .buttons #value {
    position: relative;
    grid-column: span 4; /* Adjusted from span4 to span 4 */
    user-select: none;
    overflow: none;
    width: 100%;
    text-align: end;
    color: #5166d6;
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 20px;
    font-size: 2em;
    font-weight: 500;
}

/* Style for calculator buttons */
.calculator .buttons span {
    position: relative;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    border: 2px solid #edf1f4;
    border-radius: 10px;
    cursor: pointer;
}

/* Style for the clear button */
.calculator .buttons span#clear {
    grid-column: span 2;
    background-color: #f44336;
    color: #fff;
    border: 2px solid #edf1f4;
}

/* Styles for the plus and equal buttons */
.calculator .buttons span#plus,
.calculator .buttons span#equal {
    grid-row: span 2;
    background-color: #31a935;
    color: #fff;
    border: 2px solid #edf1f4;
}

/* Define styles for active buttons */
.calculator .buttons span#clear:active,
.calculator .buttons span#plus:active,
.calculator .buttons span#equal:active {
    /* Added vendor prefixes and adjusted shadow values */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), 
                -5px -5px 10px #fff,
                inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}
