*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

#container{
    width: 100%;
    min-height: 100vh;
    background: rosybrown;
    padding: 0 8%;
    box-sizing: border-box;
    overflow: hidden;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}

#navbar .logo{
    width: 5vw;
    cursor: pointer;
    margin: 30px 0;
}

.menu{
    width: 7vw;
    cursor: pointer;
    display: none;
}

#navbar ul{
    display: flex;
    list-style: none;
    text-align: right;
    gap: 2vw;
}

#navbar ul a{
    text-decoration: none;
    color: #fff;
}

#navbar ul a:hover{
    color: #000;
    transition: all 0.3s ease-in-out;

}

.main{
    width: 100%;
;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;
    background: #000;
}

.main .one{
    width: 50%;
    background: wheat;
    margin-top: 10vw;
}


@media (max-width:600px){
    #navbar #menulist{
        width: 100%;
        background-color: brown;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        display: flex;
        justify-content: space-evenly;
    }
    #navbar .logo{
        width: 8vw;
        height: 8vw;
    }
    .menu{
        display: inherit;
        color: #fff;
        background: brown;
        border-radius: 50%;
        padding: 5px;
    }
   
    #navbar #menulist li{
        display: block;
        margin: 10px 0;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s all ease-in-out;
    }
}