body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

.footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

.board{
    margin-top: 10px;
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
}